In [1]:
import sqlalchemy

In [3]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:", echo = True)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

**declarative_base() callable returns a new base class from which all mapped classes should inherit**

## Create

In [14]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [15]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname = '%s', password='%s')>"(self.name, self.fullname, self.password)

In [16]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [17]:
base.metadata.create_all(engine)

2019-07-09 14:36:06,913 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:36:06,921 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:06,925 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:36:06,927 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:06,932 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:36:06,935 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:06,940 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:36:06,943 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:06,946 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
kim = User(name="kim", fullname="anonymous, Kim", password="kimbap")

In [27]:
print(kim)

TypeError: 'str' object is not callable

In [29]:
print(kim.id)

None

In [30]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()

In [31]:
session.add(kim)

In [33]:
session.add_all([
    User(name="lee",fullname = "unknown,Lee", password = "21")
])

In [34]:
session.commit()

2019-07-09 14:47:26,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:47:26,270 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:26,273 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous, Kim', 'kimbap')
2019-07-09 14:47:26,276 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:26,279 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown,Lee', '21')
2019-07-09 14:47:26,282 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
kim.password = "password"

session.dirty

session.is_modified(kim)

True

In [37]:
for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)

2019-07-09 14:51:36,715 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 14:51:36,718 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous, Kim password
<class '__main__.User'>
2 lee unknown,Lee 21

In [38]:
kim.password = "password"
session.dirty

session.is_modified(kim)

False

In [39]:
id(kim)

706947275856

In [40]:
 for row in session.query(User):
        print(type(row))
        print(row.id, row.name, row.fullname, row.password)

2019-07-09 15:10:17,489 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:10:17,492 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous, Kim password
<class '__main__.User'>
2 lee unknown,Lee 21

In [41]:
type(row)

__main__.User

SyntaxError: keyword can't be an expression (<ipython-input-42-0c0d3860275b>, line 1)

In [44]:
metadata.clear()

NameError: name 'metadata' is not defined

NameError: name 'Base' is not defined