# 빅데이터
---

**빅데이터의 3V**
- Volume (양)
- Velocity (속도)
- Variety (다양성)

**데이터의 종류**
- Structure data
- Semi-structure data
- unconstructed data

## DBMS
---
### 데이터베이스 개요
- 80%의 Unstructed data(비정형)+ 20% 의 Structured data(정형)
- Data
    - raw facts
    - no context
    - just numbers and text
    - e.g)business transaction, sales, payments, etc
- Information
    - processed data
    - data with context
    - value-added data
    - e.g) customer balance, sales trends, etc
    
- Database 란?
    - Colection of data organied in a manner that allows access, retrieval, and use of that data
    - A collection of Interrelated data
    - A set of integrated, stored, shard and operational data
- Database 조건
    - 통합(Integrated)
        - 동일한 데이터가 중복되지 않도록 구성
        - 최소한의 중복 또는 통제된 중복 만 허용
    - 저장(Stored)
        - 컴퓨터로 접근 가능한물리적 저장 매체 저장
    - 공유(Shared)
        - 공동으로 소유하고 유지하며 이용하는 데이터
    - 운영(Operational)
        - 존재 목적이나 기능 수행에 꼭 필요한 데이터 집합
- Data
    - Collection of unprocessed items
        - Text
        - Numbers
        - Images
        - Audio
        - Video

### 데이터 베이스 특징
- **실시간 접근성(Real-time Accessibility)**
    - 데이터들 간의 밀접한 관계로 연결
    - 중복 데이터를 배제하도록 지양
    - 사용자의 어떤 요구에도 즉각 응답
- **계속적인 변화(Continuous evolution)**
    - 현실 세계의 상태를 정확히 반영
    - 동적으로 삽입/삭제/수정하여 현재의 데이터 유지
- **동시 공유 가능(Concurrent Sharing)**
    - 여러 사용자들이 동시에 이용
    - 같은 시간에 같은 데이터 접근하여 이용
- **내용에 의한 참조 가능(Content reference)**
    - 저장된 주소나 위치에 의해서 참조하지 않고
    - 사용자가 요구하는 데이터의 내용/값에 따라 참조
    
### What is DBMS?
- **DBMS**
    - A collection of programs
    - Manage the database structure
    - Controls access to the data stored in the data base
- **DBMS**의 역할
    - Create databases
    - insert, upadate and delete data
    - sort and query data
    - create form and report
- **DBMS 역할과 장점**
    - Improved data sharing
    - Improved data security
    - Minimized data inconsistency
    - Improved data access
    - Improved decision making
    - Increased end-user productivity
    - Reduced application development time
    
### DBMS 의 종류
- **계층형 모델(Hierarchical Database Model)**
    - 트리 형태로 표현 (1:N)
    - 개체를 노드, 개체 집합들 사이의 관계를 링크로 표현
- **네트워크형 모델(Network Database Model)**
    - 그래프 형태로 표현 (N:M)
    - 각 개체가 여러 관계를 가질 수 있음
- **관계 데이터 모델(Relational Database Model)**
    - 개체를 테이블, 개체 집합들 사이의 관계를 공통 속성으로 연결
    - 가장 많이 쓰임
- **객체 관계 모델(Object Relational Database Model)**
    - 속성-관계
    - 개체-관계
    - 가장 많이 쓰임
    
## RDBMS
___
### Why use RDBMS?  
- 데이터 안정성(Data Safety)
    - data is immune to program crashes
- 동시 접근성(Concurrent Access)
    - atomic updates via transactions
- 장애 허용성(Fault Tolerance)
    - replicated DBS for instant failover on machine/disk crahses
- 데이터 무결성(Data Integrity)
    - aids to keep data meaningful
- 데이터 확장성(Scalability)
    - can handle small/large quantities of data in a uniform manner
- 데이터 보고서(Reporting)
    - easy to write SQL, programs to generate arbitary reports

### RDBMS concepts
- Relation/ Table
- Tuple / Row or Record
- Attribute / Column or Field
- Cardinality / Number of Rows
- Degree/ Number of Columns
- Domain / Pool or legal values
- **Primary key** / Unique identifier
    - 각각의 데이터는 각각의 고유값을 가져야함.
    
### 개체 관계 모델(Entity-Relationship Model)
- **개체(Entity)**
    - 실 세계에 존재하는 분리된 실체 하나를 표현, 일반적으로 명사 하나에 해당
- **관계(Relationship)**
    - 개체들 사이에 존재하는 연관이나 연결, 일반적으로 동사에 해당
    - 최소 대응수(minimum cardinality)와 최대 대응수(maximum cardinality)로 구성
- **속성(Attribute)**
    - 개체의 성질, 분류, 식별, 수량, 상태 등을 나타내는 세부 항복
    - 관계 또한 속성을 보유할 수 있음
- **기본키(Primary Key)**
    - 모든 개체를 고유하게 식별할수있는 속성
    - 중복이 있으면 안됨.
    
### 예제: 교수-학생 ER 모델
- 이항 관계
    - 교수는 학생을 지도한다.
    - 교수는 강좌를 강의한다.
    - 강좌는 학생들이 등록한다.
<br>
- 상항 관계
    - 교수와 학생은 특정 학과에 소속된다.  
<br>    
- 관계 - Mapping Cardinality
    - 조건 1: 교수는 꼭 학생에 대한 지도를 해야 한다.
        - min-card(교수,지도)= 1
    - 조건 2: 교수는 여러 명의 학생을 지도할 수 있다.
        - max-card(교수, 지도)= n
    - 조건 3: 학생은 꼭 교수에게 지도를 받아야 한다.
        - min-card(교수, 지도)= 1
    - 조건 4: 학생은 여려 명의 교수에게 지도를 받을 수 없다.
        - max-card(교수, 지도)= 1

## SQL
### Structured Query Language
    - RDBMS의 데이터를 관리하기 만들어진 언어 (대부분 ISO 표준을 따름)
    - 자료의 검색과 관리, 데이터베이스 스키마 생성과 수정, 데이터 베이스 객체 접근 조정 관리 등을 고안
    
### SQL 명령
- 데이터 정의 언어 DDL(Data Definition Language)
    - Create, Drop, Alter, Truncate
- 데이터 조작 언어 DML(Data Manipulation Language)
    - Insert, Update, Delete, Select
- 데이터 제어 언어 DCL(Data Control Language)
    - Grant, Revoke

### SQL 구문
- 문(Statement), 절(Clause), 식(Expression), 술어(Predicate)

### DATA TYPE
- Boolean (BOOLEAN)
    - to represent value TRUE or FALSE
    - values of BOOLEAN column: `TRUE` or `FALSE`
    - Synatax: `BOOLEAN`
    - Example: definiton of a column `is_manager` in table
- Charcter (CHARACTER, VARCHAR)
    - to rpresent character data for columns such as names as persons or cities
    - a sequence of characters such as names of persons, cities, etc
    - Syntax: `{CHARACTER | CHAR} [(length)]`
    - Length: Length of the string
    - VARCHAR 을 통해 데이터 사이즈를 줄일수있음.
- Exact numeric (NUMERIC, DECIMAL, INTEGER, SMALLINT, BIGINT)
    - to represent number such as 1,2,3,... and so on
    - used for numbers with fractions such as 123.45
    - Length of INTEGER : number of bytes occupied in a column by integer is 4bit(32 bits)
- Approximate numeric (REAL, FLOAT, DOUBLE)
    - to represent numbers with fractions such as 123.45
    - precision of the fraction may not be preserved across manipulation of such column values
- Datetime(DATE,TIME,TIMESTAMP /LARGE OBJECT( CLOB,BLOB)
    - TIME
        - time of a day
        - consists of datetime field: `HOUR`,`MINUTE`, and `SECOND`
        - Syntax: `TIME[(precision)]`
        - Precision : seconds value, default is 0 / 3 means milliseconds / 6 means microseconds
        - Example:
            - stat_titme TIME
            - event_time TIME(6)
            
### DDL
- CREATE
    - ```CREATE TABLE [table name] ([column definitions]) [table parameters]```
    - column definitions
        - A comma-separated list consisting of any of the following
        - Column definition: `[column name][data type]{NULL|NOT NULL}{column options}`
        - Primary key definition: PRIMARY KEY(\[comma separated column list\])
        - Constraints: {CONSTRAINTS}\[constraints remianed\]

- Drop
    - `DROP objecttype objectname.`
    - The DROP statement destroys and existing database, table, index or view.
    - `DROP TABLE employees;
    - The DROP statement is distinct from the DELETE and TRUNCATE statements, in that DELETE and TRUNCATE do not remove the table itself.
    
- TRUNCATE
    -`TRUNCATE TABLE table_name;`
    - The TRUNCATE statement is used to delete all data from a table. It's much faster than DELETE
    
- ALTER
    - `ALTER objecttype objectname parameters.`
    - The ALTER statement modifies and existing database object.
    - `ALTER TABLE sink ADD bubbles INTEGER;`
    
### DML
- INSERT
    - 기본 방법
        -``INSERT INTO table (column1 [, column2, column3 ...]) VALUES (value1 [,value2, value3 ...])``
        - The number of columns and values must be the same
    - 빠른 방법
        - `INSERT INTO table VALUES (value1,[value2, ...])`
        - If you are adding values for all the columns of the table, you do not need to specify the column names in the SQL query.
        
- SELECT
    - `SELECT column 1, column 2,....`
    - `FROM table_name;`
    - A *SELECT* statement retrieves zero or more rows from one or more database tables or database view. In most applications *SELECT* is the most commonly used data query language (DQL) command.
    - `SELECT CustomerName, City FROM Customers;`
    - `SELECT * FROM Customers;`
    - parameters
        - `WHERE` specifies which rows to retrieve.
        - `GROUP BY` groups rows sharing a property so that an aggregate function can be applied to each group
        - `HAVING` selects among the groups defined by the GROUP BY clause.
        - `ORDER BY` specifies an order in which to return the rows.
        - `AS` provides an ailas which can be used to temporarily rename tables or columns.
        
- WHERE
    - used to filter records
    - used to extract only those record that fullfill a specified condtion 
    - `BETWEEN` : find any values within a range
    - `LIKE` : find a string fitting a certain description / % wildcard
        - ` 'a%' ` / `%a` / `%or%` / `_r%` / `a_%_%` / `a%o`  
        
        
- UPDATE
    - changes the data of the one or more records in a table
    - Either all the rows can be updated, or a subset may be chosen using a condition.
    - `UPDATE CUSTOMERS`  
      `SET ContactName = 'Alfred Schmidt', City = 'Frankfurt'`  
      `WHERE CustomerID = 1;`   
- Joins
    - Combines columns from one or more tables in a relational database, based on a related column between them
    - JOIN: ***INNER, LEFT OUTER, RIGHT OUTER, FULL OUTER, CROSS***
    - (INNER) *JOIN*
        - returns record that have matching values in both tables
    - *LEFT* (OUTER) JOIN
        - return all records from the left table, and the matched records from the right table.
    - *RIGHT* (OUTER) JOIN
        - return all records from the right table, and the matched recrods from the left table.
    - CROSS JOIN
        - `SELECT *`  
        `FROM employee CROSS JOIN department`

In [1]:
import sqlite3

In [2]:
sqlite3.version
#The version number of this module, as a string. This is not the version of the SQLite libbrary.

'2.6.0'

In [3]:
sqlite3.version_info
#The version number of this module, as a tuple of integers. This is not the version of the SQLite library.

(2, 6, 0)

In [4]:
sqlite3.sqlite_version
#The version number of the run-time SQLite library, as a string

'3.26.0'

### Database 연결(생성)
`conn = sqlite3.connect('경로/이름' or ':memory:')`
### Cursor 생성
`cur = conn.cursor()`  
*cursor*(factory=Cursor):  The cursor method accepts a single optional parameter factory. IF supplied, this musct be a callable returning an instance of Cursor of its subclasses.

In [12]:
conn = sqlite3.connect(':memory:')

In [14]:
type(sqlite3.connect)

builtin_function_or_method

In [17]:
cur = conn.cursor() #SQL 을 주고받기위해 필요한것.

In [18]:
type(cur)

sqlite3.Cursor

In [19]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [20]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [3]:
import sqlite3

In [13]:
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute("select_sqlite_version()")
cur.fetchall()

OperationalError: near "select_sqlite_version": syntax error

### execute
- `cur.execute('SQL')`
- **execute**
    - Exectues an SQL statement. The SQL statement may be parameterized. The sqlite3 module supports two kinds of placeholdrs: question mark (qmark style) and named placeholders (named style).
    
### executemany
- `cur.executemany('SQL', params)
- **executemany**(*sql,seq_of_parameters*)  
    -Executes an SQL command against all parameter sequences or mappings found in the sequence *seq_of_parameters*. The sqlite3 module also allows using an iterator yielding parameters instead of sequences.

In [87]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("create table people (name_last, age)")

who = "Yeltsin"
age = 72

# This is the qmark style:
cur.execute("insert into people values (?, ?)", (who, age))

# And this is the named style:
cur.execute("select * from people WHERE name_last=:who AND age=:age", {"who": who, "age": age})

print(cur.fetchone())

('Yeltsin', 72)

In [88]:
sql = "insert into people values (?,?)"
curData = [('A',1),('B',2),('C',3)]

cur.executemany(sql, curData)

In [89]:
dataDict = [{"who":"E", "age":1},{"who:":"F", "age":1}]
cur.executemany("INSERT INTO people VALUES(:who, :age)",dataDict)

ProgrammingError: You did not supply a value for binding 1.

### executescript
`cur.executescript('''SQL1; SQL2; ...''')`

**executescript** (*sql_script*)  
- This is a nonstandard convenience method for executing multiple SQL statements at once. It issues a COMMIT statement first, then executes the SQL script it gets as a parameter.

In [131]:
cur.executescript("""
    create table person (
        first_name text primary key,
        last_name text not null
        );
        
        insert into person values ('name', 'kim');
""")
con.close()

### DDL
-CREATE

In [124]:
conn = sqlite3.connect('create.db')
print("Opened database successfully")
cur =conn.cursor()
cur.execute("""
    CREATE TABLE COMPANY(
    ID INT PRIMARY KEY     NOT NULL,
    NAME           TEXT    NOT NULL,
    AGE            INT     NOT NULL,
    ADDRESS        CEAR(50),
    SALARY         REAL);
""")

print("Table created successfully")

Opened database successfully
Table created successfully

### DML
    - insert

In [125]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)VALUES (1, 'Paul', 32, 'California', 20000.00)");

In [126]:

cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)VALUES(:id, :name, :age, :address, :salary)",
              {'id':2, 'name':'Allen','age':25,'address':'Texas','salary':15000.00});

In [127]:
data =[(3, 'Teddy', 23, 'Norway ', 200000.00 ),(4, 'Mark', 25, 'Rich-Mond ', 65000.00)]

cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (?,?,?,?,?)",data);

In [128]:
cur.executescript("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (5, 'MARK1', 25, 'Rich-Mond ', 65000.00);
    
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (6, 'MARK2', 25, 'Rich-Mond ', 65000.00);
""");

In [129]:
conn.commit()
print("Records created successfully")

Records created successfully

In [132]:
cursor = cur.execute('SELECT id, name, address, salary from COMPANY')

for row in cursor:
    print("ID = ", row[0], type(row[0]))
    print("NAME = ", row[1], type(row[1]))
    print("ADDRESS = ", row[2], type(row[2]))
    print("SALARY = ", row[3], type(row[3]), end='\n\n')
    
print("Operation done successfully")

ID =  1 <class 'int'>
NAME =  Paul <class 'str'>
ADDRESS =  California <class 'str'>
SALARY =  20000.0 <class 'float'>

ID =  2 <class 'int'>
NAME =  Allen <class 'str'>
ADDRESS =  Texas <class 'str'>
SALARY =  15000.0 <class 'float'>

ID =  3 <class 'int'>
NAME =  Teddy <class 'str'>
ADDRESS =  Norway  <class 'str'>
SALARY =  200000.0 <class 'float'>

ID =  4 <class 'int'>
NAME =  Mark <class 'str'>
ADDRESS =  Rich-Mond  <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  5 <class 'int'>
NAME =  MARK1 <class 'str'>
ADDRESS =  Rich-Mond  <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  6 <class 'int'>
NAME =  MARK2 <class 'str'>
ADDRESS =  Rich-Mond  <class 'str'>
SALARY =  65000.0 <class 'float'>

Operation done successfully